@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700|Open+Sans:400');
html {
  font-family: 'Open Sans', sans-serif; /* TODO - better fallback fonts, like San Fran */
	background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}
html {
  color: #1b1d1d;
}
a {
  text-decoration: none;
  color: #193b90;
  transition: color 0.2s;
}
a:hover, a:focus {
  color: #193046;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .75em 0;
}
h3 {
  font-size: 1.17em;
  margin: .83em 0;
}
h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
