html {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
	background-color: #E4E4E4;
}
* {
  box-sizing: border-box;
}

html, a {
  color: #414141;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #CDA34F;
}
