@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700|Open+Sans:400');
html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #2C3338; /* TODO - make this a variable */
  color: #fff;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5BC0B5; /* TODO - make this a variable */
  transition: opacity 0.2s;
}
a:hover, a:focus {
  opacity: 0.8;
  /* color: #193046; */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .75em 0;
}
h3 {
  font-size: 1.17em;
  margin: .83em 0;
}
h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
.fluid-type {
  /* https://andy-bell.design/wrote/custom-property-controlled-fluid-type-sizing/ */
  --fluid-type-min-size: 1;
  --fluid-type-max-size: 2;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 88;

  font-size: calc(
    (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) /
      (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );
}
