/* main {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr max-content;
  align-items: start;
  margin: auto;
  font-weight: 600;
  text-transform: uppercase;
}
header {
  display: inline-block;
  border-bottom: .35rem solid #325F8A;
  padding-right: .4rem;
  padding-bottom: .3rem;
}
header h1 {
  color: #CDA34F;
  font-size: 2.8rem;
  padding-bottom: .2rem;
  text-align: center;
}
.links {
  text-align: center;
}
.links li {
  display: inline-block;
}
.links li + li {
  margin-left: 1rem;
}
.types li {
  font-size: 1.6rem;
}
.developer {
  font-size: 2.4rem;
}
@media (min-width: 25rem) {
  .links, header h1 {
    text-align: right;
  }
  .types li {
    grid-column: 1;
    padding-right: .4rem;
    text-align: right;
  }
  .developer {
    grid-column: 2;
    grid-row: 1 / -1;
    padding-left: .4rem;
    writing-mode: vertical-lr;
    border-left: .35rem solid #325F8A;
  }
}
@media (max-width: 25rem) {
  header h1 {
    font-size: calc(1.5rem + 2vw);
  }
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .types {
    display: none;
  }
  .developer {
    font-size: calc(1.6rem + 2vw);
    writing-mode: initial;
    padding-top: .4rem;
  }
} */
