.button {
  background: var(--accent700);
  color: var(--accent200);
  border-radius: var(--radius100);
  padding: var(--space200) var(--space300);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background: var(--accent800);
  }
}
