.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.title :nth-child(1) {
  color: var(--accent100);
}
.title :nth-child(2) {
  color: var(--accent200);
}
.title :nth-child(3) {
  color: var(--accent300);
}
.title :nth-child(4) {
  color: var(--accent400);
}
.title :nth-child(5) {
  color: var(--accent500);
}
.title :nth-child(6) {
  color: var(--accent600);
}
.title :nth-child(7) {
  color: var(--accent700);
}
.title :nth-child(8) {
  color: var(--accent800);
}
