.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.title {
  background-color: var(--accent100);
  font-size: 7rem;
  width: max-content;

  background-image: linear-gradient(
          45deg,
          var(--accent100) 12.5%,
          var(--accent200) 12.5%,
          var(--accent200) 25%,
          var(--accent300) 25%,
          var(--accent300) 37.5%,
          var(--accent400) 37.5%,
          var(--accent400) 50%,
          var(--accent500) 50%,
          var(--accent500) 62.5%,
          var(--accent600) 62.5%,
          var(--accent600) 75%,
          var(--accent700) 75%,
          var(--accent700) 87.5%,
          var(--accent800) 87.5%);

  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
