.pillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space300);
}

.pill {
  background: var(--accent100);
  color: var(--accent600);
  border-radius: var(--radius200);
  width: max-content;
  padding: var(--space100) var(--space300);
}
