.link {
  color: var(--accent100);
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration-color: var(--accent400);
  text-decoration-line: underline;

  & + .link {
    margin-top: var(--space200);
  }

  &:hover {
    color: var(--accent200);
  }
}
