:root {
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: var(--font-family);
}

body {
    background-color: #2c3338;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s;
}
a:hover,
a:focus {
    opacity: 0.8;
}

.fluid-type {
    /* https://andy-bell.design/wrote/custom-property-controlled-fluid-type-sizing/ */
    --fluid-type-min-size: 1;
    --fluid-type-max-size: 2;
    --fluid-type-min-screen: 20;
    --fluid-type-max-screen: 88;

    font-size: calc(
        (var(--fluid-type-min-size) * 1rem) +
            (var(--fluid-type-max-size) - var(--fluid-type-min-size)) *
            (100vw - (var(--fluid-type-min-screen) * 1rem)) /
            (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
    );
}

.flow {
    --flow-space: 1em;
}
.flow > * + * {
    margin-top: 1em; /* Fallback for browsers without custom property support */
    margin-top: var(--flow-space);
}
